SONAR_JDBC_URL=jdbc:postgresql://pg_sonar:5432/sonar
SONAR_POSTGRES_HOST=pg_sonar
SONAR_POSTGRES_DB=sonar
SONAR_JDBC_USERNAME=sonar
SONAR_JDBC_PASSWORD=sonar
SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

# obsolete
# https://docs.sonarsource.com/sonarqube-server/9.9/setup-and-upgrade/configure-and-operate-a-server/environment-variables
# https://community.sonarsource.com/t/sonarqube-jmx-metrics-in-docker-conatiner/132574
# sonar.ce.javaAdditionalOpts=
#SONAR_WEB_JAVAADDITIONALOPTS=-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port=9005
# -Dcom.sun.management.jmxremote.rmi.port=port

SONAR_WEB_JAVAADDITIONALOPTS=-javaagent:/opt/sonarqube/jmx_prometheus_javaagent.jar=9005:/opt/sonarqube/jmx-prometheus-config.yml

# obsolete and not in use (tp)
# POSTGRES_USER=sonar
# POSTGRES_PASSWORD=sonar

# not tested and for reference only (tp)
# SONAR_WEB_PORT: 9000
# SONAR_CLUSTER_SEARCH_HOSTS: "search-1,search-2,search-3"
# SONAR_CLUSTER_HOSTS: "sonarqube"
# SONAR_CLUSTER_KUBERNETES: true
# SONAR_AUTH_JWTBASE64HS256SECRET: "dZ0EB0KxnF++nr5+4vfTCaun/eWbv6gOoXodiAMqcFo="
# VIRTUAL_HOST: sonarqube.dev.local
# VIRTUAL_PORT: 9000

# probably obsolete and not in use (tp)
SONAR_CLUSTER_SEARCH_HOSTS=es_sonar
# must be different for each es instance
SONAR_CLUSTER_NODE_NAME=es_sonar

SONAR_URL=http://localhost:9000
SONAR_GAEKO_TOKEN=sqp_0bd9b9d58131875c43267b68f52cec181095837a
GAEKO_PATH=/home/tpasch/it.nrw/tp-gaeko-mirror

JS_SONAR_PREFIX=node_modules/.bin
SONAR_GAEKO_UI_TOKEN=sqp_d481c27d37e77147fa6f4b107a66a2919950571c
GAEKO_UI_PATH=/home/tpasch/it.nrw/tp-gaeko-ui-mirror

# Configure system passcode for Prometheus auth
# https://docs.sonarsource.com/sonarqube-server/server-installation/system-properties/configuration-methods
# This enables seeing metrics without admin login but you need to set the X-Sonar-Passcode header
# Details: https://docs.sonarsource.com/sonarqube-community-build/extension-guide/web-api
# Hence you normally need a reverse proxy for adding it, https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
# more login alternatives: https://docs.sonarsource.com/sonarqube-server/9.9/instance-administration/monitoring
SONAR_WEB_SYSTEMPASSCODE=my-secret-passcode

# caddy
CADDY_HTTP_PORT=9001
CADDY_HTTPS_PORT=9002
SONAR_METRICS_HOST=sonarqube-metrics.localhost
SONAR_BACKEND_HOST=host.docker.internal

# grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=adminpass

# podman-exporter could not be started in a sane way with compose!
# Rootless Podman socket path inside the container
DOCKER_SOCKET=/run/user/1000/podman/podman.sock

# web server sub context
SONAR_WEB_CONTEXT=/sonarqube
GF_SERVER_ROOT_URL=http://localhost/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true
