{
	# http_port {$CADDY_HTTP_PORT}
	# https_port {$CADDY_HTTPS_PORT}

	email {$ABUSE_EMAIL}
	auto_https {$AUTO_HTTPS_SWITCH}

	log {
		output stderr
		level DEBUG
		format console
	}
}

http://{$SONAR_METRICS_HOST}:{$CADDY_HTTP_PORT} {
	bind 0.0.0.0

	# respond /debug "Host: {http.request.host}, Path: {http.request.uri.path}" 200

	@sonarMetrics {
		path /api/monitoring/metrics
	}

	reverse_proxy @sonarMetrics http://{$SONAR_BACKEND_HOST}:9000 {
		header_up X-Sonar-Passcode "{$SONAR_WEB_SYSTEMPASSCODE}"
	}
}

# HTTP virtual hosts (port 80) → redirect to HTTPS
sonarqube.{$SUBDOMAIN}:80 {
	redir https://{host}{uri}
}

grafana.{$SUBDOMAIN}:80 {
	redir https://{host}{uri}
}

prometheus.{$SUBDOMAIN}:80 {
	redir https://{host}{uri}
}

# HTTPS virtual hosts (port 443) with on‑demand internal certs
sonarqube.{$SUBDOMAIN}:443 {
	# https://caddyserver.com/docs/caddyfile/directives/tls
	tls {$MAYBE_INTERNAL} {
		on_demand
	}
	reverse_proxy http://sonarqube:9000
}

grafana.{$SUBDOMAIN}:443 {
	tls {$MAYBE_INTERNAL} {
		on_demand
	}
	reverse_proxy http://grafana:{$GF_SERVER_HTTP_PORT}
}

prometheus.{$SUBDOMAIN}:443 {
	tls {$MAYBE_INTERNAL} {
		on_demand
	}
	# TODO: change this to the configured port
	reverse_proxy http://prometheus:9099
}

pushgateway.{$SUBDOMAIN}:443 {
	tls {$MAYBE_INTERNAL} {
		on_demand
	}
	reverse_proxy http://pushgateway:9091
}
