{
	# http_port {$CADDY_HTTP_PORT}
	# https_port {$CADDY_HTTPS_PORT}
	auto_https off

	log {
		output stderr
		level DEBUG
		format console
	}
}

# {$SONAR_METRICS_HOST:sonarqube-metrics.localhost}:{$CADDY_HTTP_PORT} {
# 	@sonarMetrics {
# 		path /api/monitoring/metrics
# 	}

# 	reverse_proxy @sonarMetrics http://{$SONAR_BACKEND_HOST:host.docker.internal}:9000 {
# 		header_up X-Sonar-Passcode "{$SONAR_WEB_SYSTEMPASSCODE}"
# 	}
# }

# HTTP virtual hosts (port 80) → redirect to HTTPS
sonarqube.my:80 {
	redir https://{host}{uri}
}

grafana.my:80 {
	redir https://{host}{uri}
}

prometheus.my:80 {
	redir https://{host}{uri}
}

# HTTPS virtual hosts (port 443) with on‑demand internal certs
sonarqube.my:443 {
	tls internal {
		on_demand
	}
	reverse_proxy http://sonarqube:9000
}

grafana.my:443 {
	tls internal {
		on_demand
	}
	reverse_proxy http://grafana:3000
}

prometheus.my:443 {
	tls internal {
		on_demand
	}
	reverse_proxy http://prometheus:9090
}
