[Unit]
Requires=sonarqube-sonarqube.service sonarqube-pg_sonar_exporter.service node-exporter.service podman-exporter.service
After=sonarqube-sonarqube.service sonarqube-pg_sonar_exporter.service node-exporter.service podman-exporter.service

[Container]
HostName=prometheus
Exec='--config.file=/etc/prometheus/prometheus.yml' '--storage.tsdb.path=/prometheus' --web.enable-lifecycle --web.enable-admin-api '--web.listen-address=:9099'
Image=quay.io/prometheus/prometheus:v3.8.0
Network=sonarqube
Network=exporter

# Pod=sonarqube.pod
PublishPort=9099:9099

Volume=$GIT_ROOT/prometheus.yml:/etc/prometheus/prometheus.yml:ro,z
Volume=prometheus:/prometheus
Volume=$GIT_ROOT/export:/export:z

[Service]
Restart=always
