# This is the same a 'enable' but for transient, generated services
[Install]
WantedBy=default.target

[Unit]
Requires=sonarqube-prometheus.service
After=sonarqube-prometheus.service

[Container]
HostName=grafana
EnvironmentFile=$HOME/.config/SonarQubeCompose/.env
Image=docker.io/grafana/grafana-oss:latest
Network=exporter

# Pod=sonarqube.pod
PublishPort=3010:3010

Volume=grafana:/var/lib/grafana
Volume=$GIT_ROOT/export:/export:z

[Service]
Restart=always
