[Unit]
Requires=node-exporter.service sonarqube-network.service podman.socket
After=node-exporter.service sonarqube-network.service podman.socket

[Container]
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Image=quay.io/navidys/prometheus-podman-exporter:latest
Network=exporter
PublishPort=9882:9882
SecurityLabelDisable=true
UserNS=keep-id:uid=65534
Volume=/run/user/1000/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always
