[Unit]
Requires=sonarqube-pg_sonar.service
After=sonarqube-pg_sonar.service

[Container]
HostName=pg_sonar_exporter
EnvironmentFile=/home/tpasch/scm/aanno/github/SonarQubeCompose/.env
Environment=DATA_SOURCE_NAME=postgresql://:@:5432/?sslmode=disable
Image=quay.io/prometheuscommunity/postgres-exporter:latest
Network=pg_sonar
Network=exporter

# Pod=sonarqube.pod
PublishPort=9187:9187

[Service]
Restart=always
