# This is the same a 'enable' but for transient, generated services
[Install]
WantedBy=default.target

[Unit]
Requires=sonarqube-prometheus.service
After=sonarqube-prometheus.service

[Container]
HostName=grafana
EnvironmentFile=/home/tpasch/scm/aanno/github/SonarQubeCompose/.env
Image=docker.io/grafana/grafana-oss:latest
Network=sonarqube

# Pod=sonarqube.pod
PublishPort=3010:3010

Volume=grafana:/var/lib/grafana
Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/export:/export:z

[Service]
Restart=always
