[Unit]
Requires=sonarqube-pg_sonar.service
After=sonarqube-pg_sonar.service

[Container]
Environment=DATA_SOURCE_NAME=postgresql://:@:5432/?sslmode=disable
EnvironmentFile=/home/tpasch/scm/aanno/github/SonarQubeCompose/.env
Image=quay.io/prometheuscommunity/postgres-exporter:latest
Network=sonarqube
Pod=sonarqube.pod

[Service]
Restart=always
