# This is the same a 'enable' but for transient, generated services
[Install]
WantedBy=default.target

[Container]
HostName=caddy
AddCapability=NET_ADMIN
EnvironmentFile=/home/tpasch/scm/aanno/github/SonarQubeCompose/.env
Image=docker.io/library/caddy:2.10
Network=sonarqube
Network=exporter

# Pod=sonarqube.pod
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/caddy:/etc/caddy:z
Volume=caddy_data:/data
Volume=caddy_config:/config
Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/export:/export:z

[Service]
Restart=always
