[Unit]
Requires=sonarqube-pg_sonar.service
After=sonarqube-pg_sonar.service

[Container]
HostName=sonarqube
EnvironmentFile=/home/tpasch/scm/aanno/github/SonarQubeCompose/.env
Image=docker.io/mc1arke/sonarqube-with-community-branch-plugin:25.9.0.112764-community
Network=sonarqube
Network=pg_sonar

# Pod=sonarqube.pod
PublishPort=9000:9000
PublishPort=9005:9005

Ulimit=nofile=65536:65536
Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/jmx_prometheus_javaagent.jar:/opt/sonarqube/jmx_prometheus_javaagent.jar:ro,z
Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/jmx-prometheus-config.yml:/opt/sonarqube/jmx-prometheus-config.yml:ro,z
Volume=sonarqube_data:/opt/sonarqube/data
Volume=sonarqube_extensions:/opt/sonarqube/extensions
Volume=sonarqube_logs:/opt/sonarqube/logs
Volume=sonarqube_temp:/opt/sonarqube/temp
Volume=/home/tpasch/scm/aanno/github/SonarQubeCompose/export:/export:z

[Service]
Restart=always
